<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4">Welcome to your blogs!</h1>
    <h1>My Articles</h1>

    <ul>
    <% @articles.each do |article| %>
        <li>
        <%= link_to article.title, article %>
        </li>
    <% end %>
    </ul>

</div> 
